<table id="classes_table" class="display table-hover" style="width:100%">
    <thead>
        <tr>
            @{ MathCenter.Models.Class firstClass = ViewBag.First; }
            <th>@Html.DisplayNameFor(data => firstClass.CRN)</th>
            <th>@Html.DisplayNameFor(data => firstClass.DeptPrefix)</th>
            <th>@Html.DisplayNameFor(data => firstClass.ClassNum)</th>
            <th>@Html.DisplayNameFor(data => firstClass.Instructor)</th>
            <th>@Html.DisplayNameFor(data => firstClass.Days)</th>
            <th>@Html.DisplayNameFor(data => firstClass.Time)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MathCenter.Models.Class @class in ViewBag.Data)
        {
        <tr>
            <td class="text-center">@Html.DisplayFor(data => @class.CRN)</td>
            <td class="text-center">@(@class.getDepartment())</td>
            <td class="text-center">@(@class.getClassNumber())</td>
            <td>@(@class.getInstructor())</td>
            <td class="text-center">@Html.DisplayFor(data => @class.Days)</td>
            <td class="text-center">@Html.DisplayFor(data => @class.Time)</td>
        </tr>
        }
    </tbody>
</table>
