@model IEnumerable<ScienceCenter.Models.ViewModels.ProfData>

@{
    ViewBag.Title = "ClassData";
}

<div class="container">
    <div class="center">
        <h1>Here is all of the data from the Science Center Sign In Sorted by Class Level</h1>
        <h3>Link to go back: @Html.ActionLink("Go Back to Home", "Index", "Faculty")</h3>
    </div>
</div>
<br /><br />
<table class="table container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeptPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesIn)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesIn)
        </td>
    </tr>
    }
</table>
