@model IEnumerable<ScienceCenter.Models.Class>

@{
    ViewBag.Title = "Class";
}

<div class="container">
    <div class="center">
        <h1>Here is a table with all of the classes found on the site</h1>
        <h3>Link to go back: @Html.ActionLink("Go back to home", "Index", "Faculty")</h3>
    </div>
</div>
<br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptPrefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
        </tr>
    }

</table>
