@model IEnumerable<ScienceCenter.Models.ViewModels.CountDay>

@{
    ViewBag.Title = "DailyCount";
}

<div class="container">
    <div class="center">
        <h1>Here is the number of students who came in per day</h1>
        <h3>Link to go back: @Html.ActionLink("Go Back to Home", "Index", "Faculty")</h3>
    </div>
</div>
<br /><br />
<table class="table container">
    <tr>
        @if(ViewBag.Id == 1)
        {        
        <th>
            @Html.DisplayNameFor(model => model.NumStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>
