
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Welcome!</h1>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="center">
                <h2>Get Data Tables</h2>
            </div>
            <h3>@Html.ActionLink("Sign In Sheet", "Data", "Faculty")</h3>
            <h3>@Html.ActionLink("Sign In Sorted by Professor", "ProfData", "Faculty")</h3>
            <h3>@Html.ActionLink("Sign In Sorted by Class Level", "ClassData", "Faculty")</h3>
            <h3>@Html.ActionLink("View All Classes", "Class", "Faculty")</h3>
        </div>
        <div class="col-md-4">
            <div class="center">
                <h4>&nbsp;</h4>
                <img src="~/Images/science-rocks.jpg" style="height:200px;" />

            </div>
        </div>
        <form method="post">
            <div class="col-md-4">
                <div class="center">
                    <h2>Download/Add Data</h2>
                </div>
                <button class="btn" name="download" value="1" type="submit">Sign In Sheet</button><br />
                <button class="btn" name="download" value="4" type="submit">Sign In Sorted by Professor</button><br />
                <button class="btn" name="download" value="5" type="submit">Sign In Sorted by Class Level</button><br />
                @Html.ActionLink("Add Classes for New Term", "Add", "Faculty", null, new { @class = "btn" })
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="center">
                <img src="~/Images/science.jpg" style="height:190px;" />
            </div>
        </div>
        <div class="col-md-6">
            <h4 style="margin-top:30px;">@Html.ActionLink("How many students came each day?", "Extra", "Faculty", new { num = 1 }, null)</h4>
            <h4>@Html.ActionLink("How many students came in each week?", "Extra", "Faculty", new { num = 2 }, null)</h4>
            <h4>@Html.ActionLink("What is the average number of students per week?", "Extra", "Faculty", new { num = 3 }, null)</h4>
            <h4>@Html.ActionLink("What is the average number of students per day?", "Extra", "Faculty", new { num = 4 }, null)</h4>
            <h4>@Html.ActionLink("How many students came in each hour of the day?", "Extra", "Faculty", new { num = 5 }, null)</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <h3>
            This button is to be used at the end of the term to clear the database for the next one. Don't worry,
            it's not a commitment, it will just take you to another page.
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <form method="post">
                    <h3>
                        <button class="btn" name="download" value="2" type="submit">Reset the Data</button>
                    </h3>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <form method="post">
                    <h3>
                        <button class="btn" name="download" value="3" type="submit">Go Back to Sign In</button>
                    </h3>
                </form>
            </div>
        </div>
    </div>
</div>