
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Welcome!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Get Entire Sign In Sheet: @Html.ActionLink("Sign In Sheet", "Data", "Faculty")</h3>
            <h3>Sort By Professor: @Html.ActionLink("Professor Sort", "ProfData", "Faculty")</h3>
            <h3>Sort By Class Level: @Html.ActionLink("Class Sort", "ClassData", "Faculty")</h3>
            <h3>Add Classes to the Database: @Html.ActionLink("Add Classes", "Add", "Faculty")</h3>
            <h3>Show all the Classes in the System: @Html.ActionLink("Classes", "Class", "Faculty")</h3>            
            <h5>@Html.ActionLink("How many students came each day?", "Extra", "Faculty", new { num = 1 }, null)</h5>
            <h5>@Html.ActionLink("How many students came in each week?", "Extra", "Faculty", new { num = 2 }, null)</h5>
            <h5>@Html.ActionLink("What is the average number of students per week?", "Extra", "Faculty", new { num = 3 }, null)</h5>
            <h5>@Html.ActionLink("What is the average number of students per day?", "Extra", "Faculty", new { num = 4 }, null)</h5>
            <h5>@Html.ActionLink("How many students came in each hour of the day?", "Extra", "Faculty", new { num = 5 }, null)</h5>
        </div>
        <div class="col-md-6">
            <div class="center">
                <img src="~/Images/science.jpg" style="height:175px;" />
                <br /> <br /> <br />
                <img src="~/Images/science-rocks.jpg" style="height:175px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <form method="post">
                    <h3><button name="download" value="1" type="submit">Download the Sign In Sheet</button></h3>
                    <h3><button name="download" value="4" type="submit">Download the Sign In Sheet Sorted by Professor</button></h3>
                    <h3><button name="download" value="5" type="submit">Download the Sign In Sheet Sorted by Class Level</button></h3>
                </form>
            </div>
        </div>
    </div>    
    <div class="row">
        <h3>
            This button is to be used at the end of the term to clear the database for the next one. Don't worry,
            it's not a commitment, it will just take you to another page.
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <form method="post">
                    <h3>
                        <button name="download" value="2" type="submit">Reset the Data</button>
                    </h3>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <form method="post">
                    <h3>
                        <button name="download" value="3" type="submit">Go Back to Sign In</button>
                    </h3>
                </form>
            </div>
        </div>
    </div>
</div>

