@model ScienceCenter.Models.ViewModels.PersonWeek
@{
    ViewBag.Title = "NameInput";
}

<div class="container">
    <h1 style="font-size:40px;">Please Enter Your Name Below:</h1>
    <div style="color: red;"><h4>@ViewBag.Error</h4></div>
    <div class="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.VNum,
                            new { VNum = "VNum", Value = ViewBag.VNum })
                @Html.HiddenFor(model => model.Week,
                            new { Week = "Week", Value = ViewBag.Week })
                <div class="form-group">
                    <h3>
                        First Name:
                        @Html.TextBoxFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </h3>
                </div>
                <div class="form-group">
                    <h3>
                        Last Name:
                        @Html.TextBoxFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </h3>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>
                            <button type="submit">Submit</button>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>