@model IEnumerable<ScienceCenter.Models.Class>
@{
    ViewBag.Title = "Select Your Class";
}
@section Scripts{
    <script type="text/javascript" src="~/Scripts/SelectClass.js"></script>
}

<div class="container">
    <h1>Please select your class:</h1>
    <form method="post">
        <div class="row">
            <div class="center">
                <h4 style="color: darkblue;">@ViewBag.Error</h4>
            </div>            
            <div class="col-md-3">
                <h3>Department</h3>
                <div class="col-md-10">
                    <select style="width:inherit;" name="Departments" id="Departments">
                        @foreach (var dept in Model)
                        {
                            <option>@Html.DisplayFor(m => dept.DeptPrefix)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Class Number</h3>
                <div class="col-md-10">
                    <!--This will be added with JavaScript-->
                    <select style="width:inherit;" name="Numbers" id="Numbers">
                        @foreach (var num in ViewBag.Numbers)
                        {
                            <option>@num.ClassNum</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Instructor</h3>
                <div class="col-md-10">
                    <!--This will be added with JavaScript-->
                    <select style="width:inherit;" name="Instructors" id="Instructors">
                        @foreach (var instructor in ViewBag.Instructors)
                        {
                            <option>@instructor.Instructor</option>
                        }
                        <option>Community College</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h3 id="LabelTimes">Class Time</h3>
                <div class="col-md-10">
                    <!--This will be added with JavaScript-->
                    <select style="width:inherit;" name="ClassID" id="Times">
                        @foreach (var time in ViewBag.Times)
                        {
                            <option value=@time.ClassID>@time.Time @time.Days</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <input type="hidden" name="Week" value=@ViewBag.Week />
            <input type="hidden" name="Id" value=@ViewBag.Id />
            <div class="center">
                <h3><button class="btn" name="button" value="Submit" type="submit">Submit</button></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 style="margin:0; color:#850915;">
                    Please select your class department, then number, then instructor, and then time and day/institution. Allow dropdowns to load before moving on to the next one. It may take a up to 10 sec. Please be patient.
                </h4>
            </div>
        </div>
    </form>
</div>