@model IEnumerable<MathCenter.Models.Class>

<div class="content">
    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }
    <ul class="nav nav-tabs" id="class_selector" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="normal_class" data-toggle="tab" href="#normal">WOU Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cc_class" data-toggle="tab" href="#cc">Community College Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="other_class" data-toggle="tab" href="#other">Can't find your WOU Class?</a>
        </li>
    </ul>
    @using (Html.BeginForm("Class", "Student", FormMethod.Post, new { }))
    {
        <div class="tab-content" id="class_selector_content">
            <div class="tab-pane active" id="normal" role="tabpanel" aria-labelledby="normal_class">
                @Html.Partial("_ClassSelectDataTable", "Partials", new ViewDataDictionary {
                    { "data", Model.ToList() },
                    { "table_id", "classes_select_table" }
                })
                <div class="row mt-3 button-group">
                    <div class="col-6">
                        <a href="@Url.Action("Name", "Student")" class="btn btn-lg btn-default">Go Back</a>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <button type="submit" class="btn btn-lg btn-danger" disabled>Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="cc" role="tabpanel" aria-labelledby="cc_class">
                <div class="row">
                    <div class="col-md-7 col-12">
                        @Html.Partial("_CommSelectDataTable", "Partials", new ViewDataDictionary {
                            { "data", ViewBag.CCClasses },
                            { "table_id", "comm_select_table" }
                        })
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="row">
                            <div class="col-12 border-bottom">
                                <h3 style="margin-bottom:.35rem;">Add another class here:</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                @Html.DropDownList("ClassDeptNum", new SelectList(ViewBag.CCClassList, "Other"), "Select Class", new { @class = "form-control cc-college-input" })
                            </div>
                            <div class="col-12 form-group">
                                @Html.DropDownList("ClassInstitution", new SelectList(MathCenter.Models.Class.CCCollegeStrings.Keys, "Instructor"), "Select Institution", new { @class = "form-control cc-college-input" })
                            </div>
                        </div>
                        <div class="row button-group">
                            <div class="col-12 text-right">
                                <a onclick="submitCCForm()" class="btn btn-lg btn-default">Add Class</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row button-group mt-3">
                    <div class="col-6">
                        <a href="@Url.Action("Name", "Student")" class="btn btn-lg btn-default">Go Back</a>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <button type="submit" class="btn btn-lg btn-danger" disabled>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other_class">
                <div class="row">
                    <div class="col-md-6 col-12">
                        @Html.Partial("_OtherSelectDataTable", "Partials", new ViewDataDictionary {
                            { "data", ViewBag.OtherClasses },
                            { "table_id", "other_select_table" }
                        })
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-12 border-bottom">
                                <h3 style="margin-bottom:.35rem;">Add another WOU class here:</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                @Html.TextBoxFor(c => c.First().Other, null, new { @class = "form-control other-input", placeholder = "MTH ###" })
                                <p class="hint">Please enter Class Prefix and then Number. (Examples: MTH 341, A 100.)</p>
                            </div>
                        </div>
                        <div class="row button-group">
                            <div class="col-12 text-right">
                                <a onclick="submitOtherForm()" class="btn btn-lg btn-default">Add Class</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row button-group mt-3">
                    <div class="col-6">
                        <a href="@Url.Action("Name", "Student")" class="btn btn-lg btn-default">Go Back</a>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <button type="submit" class="btn btn-lg btn-danger" disabled>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/form-helpers.js"></script>
    <script type="text/javascript" src="~/Scripts/datatable-component.js"></script>
    <script type="text/javascript">
        window.table = null;
        window.comTable = null;
        window.otherTable = null;
        var classDataTable = new DatatableCreator();
        var commDataTable = new DatatableCreator();
        var otherDataTable = new DatatableCreator();

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
            classDataTable.createSearchFromValue(-1, 'Search');
            commDataTable.createSearchFromValue(-1, 'Search');
            otherDataTable.createSearchFromValue(-1, 'Search');
        });

        function successAjax(data) {
            if (data.type) {
                if (data.type == 'Other') {
                    var rowNode = otherDataTable.table.row.add([
                        '<input type="checkbox" name="ClassID" value="' + data.classID + '" class="custom-checkbox" />',
                        data.className,
                    ]).draw(false).node();
                    $(rowNode).find('td').eq(0).addClass('text-center');
                    $(rowNode).find('td').eq(1).addClass('text-center');
                } else {
                    var rowNode = commDataTable.table.row.add([
                        '<input type="checkbox" name="ClassID" value="' + data.classID + '" class="custom-checkbox" />',
                        data.className,
                        data.Institution,
                    ]).draw(false).node();
                    $(rowNode).find('td').eq(0).addClass('text-center');
                    $(rowNode).find('td').eq(1).addClass('text-center');
                }
            }
            bindTableEvents();
        }

        $(document).ready(function () {
            classDataTable.init({
                table: window.table,
                domClass: '<"table-header border-bottom row"<"table-header-left-class col-md-9 col-12"><"table-header-right col-md-3 col-12" B>><"progress-bar-mine">t',
                buttons: {
                    "buttons": [
                        { extend: 'colvis', className: 'btn-danger' },
                    ]
                },
                orderColumn: 2,
                columns: [
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                    { "visible": false },
                    { "visible": true },
                ],
                tableID: 'classes_select_table',
                inputClass: 'class-filter',
                skipFirst: true,
            });

            commDataTable.init({
                table: window.comTable,
                domClass: '<"table-header border-bottom row"<"table-header-left-class col-md-12 col-12">><"progress-bar-mine">t',
                buttons: null,
                orderColumn: 2,
                columns: [
                    { "visible": true },
                    { "visible": true },
                    { "visible": true },
                ],
                tableID: 'comm_select_table',
                inputClass: 'comm-filter',
                skipFirst: true,
            });

            otherDataTable.init({
                table: window.otherTable,
                domClass: '<"table-header border-bottom row"<"table-header-left-class col-md-12 col-12">><"progress-bar-mine">t',
                orderColumn: 1,
                columns: [
                    { "visible": true },
                    { "visible": true },
                ],
                tableID: 'other_select_table',
                inputClass: 'other-filter',
                skipFirst: true,
            });

            bindTableEvents();
        });
    </script>
    @if (ViewBag.ProgressPercent == 66)
    {
        <script type="text/javascript" src="~/Scripts/progress-bar-66.js"></script>

    }
    else
    {
        <script type="text/javascript" src="~/Scripts/progress-bar-50.js"></script>

    }
}
