@model MathCenter.Models.Student

    <div class="content">
        <div class="row">
            <div class="col-12 border-bottom">
                <h2>Please enter your name below:</h2>
            </div>
        </div>
        @Html.Partial("_Progress", "Partials", new ViewDataDictionary { { "progress", ViewBag.ProgressPercent } })
        @if (ViewBag.Error != null)
        {
            @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row form-group">
                <div class="col-md-4 text-md-right col-12">
                    <label class="h4">First Name:</label>
                </div>
                <div class="col-md-6 col-12">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 text-md-right col-12">
                    <label class="h4">Last Name:</label>
                </div>
                <div class="col-md-6 col-12">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                @Html.HiddenFor(model => model.VNum)
                <div class="offset-md-1 col-md-5 col-6">
                    <a href="@Url.Action("Index", "Student")" class="btn btn-lg btn-default">Go Back</a>
                </div>
                <div class="col-md-5 col-6">
                    <div class="text-right">
                        <button class="btn btn-lg btn-danger" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
