    <div class="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome!</h1>
            </div>
        </div>
        <div class="col-12" id="border"></div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="text-center border-bottom">
                    <h2>Get Data Tables</h2>
                </div>
                <h3>@Html.ActionLink("View all the data", "Data", "Faculty")</h3>
                <h3>@Html.ActionLink("View all the classes", "Class", "Faculty")</h3>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/Content/Images/mathheart.jpg" class="image" />
            </div>
            <div class="col-md-4">
                <div class="text-center border-bottom">
                    <h2>Download/Add Data</h2>
                </div>
                <h3>@Html.ActionLink("Download the Data", "SelectDates", "Faculty")</h3>
                <h3>@Html.ActionLink("Add Classes for New Term", "Add", "Faculty")</h3>
            </div>
        </div>
        <div class="col-12" id="border"></div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <h3>
                        End of the term? The Reset button will allow you to reset the database for the next term AND download the current term's data.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="text-left">
                        @Html.ActionLink("Reset the Data", "Reset", "Faculty", null, new { @class="btn btn-lg btn-danger" })
                    </div>
                </div>
            @*</div>*@
            @*<div class="row">*@
                <div class="col-md-6 col-12">
                    <div class="text-right">
                        @Html.ActionLink("Go Back to Sign In", "Index", "Home", null, new { @class = "btn btn-default btn-lg" })
                    </div>
                </div>
            </div>
    </div>