@model IEnumerable<MathCenter.Models.Class>

<div class="content">
    @Html.Partial("_Progress", "Partials", new ViewDataDictionary { { "progress", 66 } })

    @if (ViewBag.Error != null)
    {
        @Html.Partial("_Errors", "Partials", new ViewDataDictionary { { "error", ViewBag.Error } })
    }
    <div class="row">
        <div class="col-12 border-bottom">
            <h2>Please select your classes:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>
                @using (Html.BeginForm("SelectClass", "Home", FormMethod.Get, new { name = "filterForm" }))
                {
                    <thead>
                        <tr> <!--Actual Table Headers-->
                            <th class="selected_column">
                                <input type="hidden" name="ClassIds" id="classIds" value="@ViewBag.SelectedIds" />
                                Selected
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeptPrefix)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClassNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Instructor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Days)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Time)
                            </th>
                        </tr>
                        <tr> <!--Search Fields-->
                            <td class="selected_column"></td>
                            <td>
                                @Html.Partial("_FilterDropdown", "Partials", new ViewDataDictionary
                                {
                                    { "name", "DepartmentFilter" },
                                    { "classes", ViewBag.Departments },
                                    { "attribute", 1 }
                                })                                
                            </td>
                            <td>
                                @Html.Partial("_FilterDropdown", "Partials", new ViewDataDictionary
                                {
                                    { "name", "ClassNumberFilter" },
                                    { "classes", ViewBag.ClassNumbers },
                                    { "attribute", 2 }
                                })                                
                            </td>
                            <td>
                                @Html.Partial("_FilterDropdown", "Partials", new ViewDataDictionary
                                {
                                    { "name", "InstructorFilter" },
                                    { "classes", ViewBag.Instructors },
                                    { "attribute", 3 }
                                })
                            </td>
                            <td>
                                @Html.Partial("_FilterDropdown", "Partials", new ViewDataDictionary
                                {
                                    { "name", "DaysFilter" },
                                    { "classes", ViewBag.Days },
                                    { "attribute", 4 }
                                })                                
                            </td>
                            <td>
                                @Html.Partial("_FilterDropdown", "Partials", new ViewDataDictionary
                                {
                                    { "name", "TimeFilter" },
                                    { "classes", ViewBag.Times },
                                    { "attribute", 5 }
                                })                                
                            </td>
                        </tr>
                    </thead>
                }
                @using (Html.BeginForm("SelectClass", "Home", FormMethod.Post, new { name = "classForm" }))
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="selected_column">
                                    @if (ViewBag.ClassIds != null && Array.Exists((int[])ViewBag.ClassIds, e=>e == item.ClassID))
                                    {
                                        <input type="checkbox" class="class-checkbox" name="Classes" value="@item.ClassID" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="class-checkbox" name="Classes" value="@item.ClassID" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeptPrefix)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instructor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Days)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="selected_column">
                                <span id="selected-count">@ViewBag.SelectedCount</span>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <h3>Class not found? Taking a class at a community college? Try one of these options:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <button class="btn btn-danger btn-lg" onclick="submitForm('CommunityCollegeClasses')">Community College</button>
            <button class="btn btn-default btn-lg" onclick="submitForm('OtherClasses')">Other</button>            
        </div>
    </div>
    <span class="submit-fixed">
        <button class="btn btn-danger btn-lg" onClick="submitForm()">Submit</button>
    </span>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/SelectClass.js"></script>
}